In [3]:
import pandas as pd

# read database for 2023/2024
base = pd.read_csv("https://www.football-data.co.uk/mmz4281/2324/E0.csv")
base.to_csv("Base.csv", index=False)

    Div        Date   Time          HomeTeam       AwayTeam  FTHG  FTAG FTR  \
0    E0  11/08/2023  20:00           Burnley       Man City     0     3   A
1    E0  12/08/2023  12:30           Arsenal  Nott'm Forest     2     1   H
2    E0  12/08/2023  15:00       Bournemouth       West Ham     1     1   D
3    E0  12/08/2023  15:00          Brighton          Luton     4     1   H
4    E0  12/08/2023  15:00           Everton         Fulham     0     1   A
..   ..         ...    ...               ...            ...   ...   ...  ..
375  E0  19/05/2024  16:00    Crystal Palace    Aston Villa     5     0   H
376  E0  19/05/2024  16:00         Liverpool         Wolves     2     0   H
377  E0  19/05/2024  16:00             Luton         Fulham     2     4   A
378  E0  19/05/2024  16:00          Man City       West Ham     3     1   H
379  E0  19/05/2024  16:00  Sheffield United      Tottenham     0     3   A

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       0     2  ...     2.28  1.50      1.95      1.98   1.95   1.97
1       2     0  ...     2.63 -2.00      1.95      1.98   1.93   1.97
2       0     0  ...     2.12  0.00      2.02      1.91   2.01   1.92
3       1     0  ...     2.48 -1.75      2.01      1.92   2.00   1.91
4       0     0  ...     1.71 -0.25      2.06      1.87   2.04   1.88
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     2     0  ...     2.78 -0.75      1.73      2.08   1.78   2.16
376     2     0  ...     5.17 -2.75      2.07      1.86   2.04   1.85
377     1     2  ...     2.69  0.25      2.00      1.93   1.99   1.93
378     2     1  ...     4.82 -3.00      2.03      1.90   1.99   1.90
379     0     1  ...     3.81  1.50      2.06      1.87   2.05   1.88

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0        NaN      NaN     1.92     1.95
1       2.01     2.09     1.95     1.92
2       2.06     1.96     1.96     1.91
3       2.14     1.93     2.00     1.86
4       2.08     1.99     1.98     1.88
..       ...      ...      ...      ...
375     1.93     2.21     1.81     2.05
376     2.10     1.89     2.04     1.82
377     2.02     1.94     1.96     1.91
378     2.05     1.99     1.96     1.91
379     2.08     1.89     2.01     1.86

[380 rows x 106 columns]