# Python for Sports Betting
## Tools:


### 1. Pandas
#### How to Install?
Pandas can be installed by running the command **pip install pandas** .
#### What to use it for?
Pandas can be used to perform multiple operations over the data, it is one of the most powerfull tools for data analytics.
#### Code Examples of Pandas Usage

In [12]:
import pandas as pd


URL = "https://www.football-data.co.uk/mmz4281/2324/E0.csv"
# read database for 2023/2024
base = pd.read_csv(URL)
# create a file of the database in csv format
#base.to_csv("Base.csv", index=False)

#display the first lines of the dataframe
base.head()

#display columns in a list
base.columns.to_list()

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

#### Selecting specific Columns using Pandas

In [13]:
# columns to use
columns = ["Date","HomeTeam","AwayTeam","FTHG","FTAG","FTR","B365H","B365D","B365A","B365>2.5","B365<2.5"]

# new data frame with the selected columns
df = base[columns]

df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,B365>2.5,B365<2.5
0,11/08/2023,Burnley,Man City,0,3,A,8.00,5.5,1.33,1.67,2.20
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,1.18,7.0,15.00,1.44,2.75
2,12/08/2023,Bournemouth,West Ham,1,1,D,2.70,3.4,2.55,1.90,2.00
3,12/08/2023,Brighton,Luton,4,1,H,1.33,5.5,9.00,1.62,2.30
4,12/08/2023,Everton,Fulham,0,1,A,2.20,3.4,3.30,2.01,1.89

#### Renaming the Columns using Pandas

In [14]:
# change columns names
df.columns = ["Date","Home","Away","Goals_H","Goals_A","Result","Odd_H","Odd_D","Odd_A","Odd_Over25","Odd_Under25"]

display(df)

,Date,Home,Away,Goals_H,Goals_A,Result,Odd_H,Odd_D,Odd_A,Odd_Over25,Odd_Under25
0,11/08/2023,Burnley,Man City,0,3,A,8.00,5.50,1.33,1.67,2.20
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,1.18,7.00,15.00,1.44,2.75
2,12/08/2023,Bournemouth,West Ham,1,1,D,2.70,3.40,2.55,1.90,2.00
3,12/08/2023,Brighton,Luton,4,1,H,1.33,5.50,9.00,1.62,2.30
4,12/08/2023,Everton,Fulham,0,1,A,2.20,3.40,3.30,2.01,1.89
...,...,...,...,...,...,...,...,...,...,...,...
375,19/05/2024,Crystal Palace,Aston Villa,5,0,H,1.85,4.33,3.60,1.40,3.00
376,19/05/2024,Liverpool,Wolves,2,0,H,1.17,8.00,15.00,1.22,4.33
377,19/05/2024,Luton,Fulham,2,4,A,2.90,3.90,2.20,1.44,2.75
378,19/05/2024,Man City,West Ham,3,1,H,1.08,12.00,21.00,1.20,4.50
379,19/05/2024,Sheffield United,Tottenham,0,3,A,7.00,6.00,1.33,1.22,4.33

#### Building Filter using Pandas

In [15]:
# Building a filter where home team won the game
home_win = df[df['Goals_H'] > df['Goals_A']]

home_win

,Date,Home,Away,Goals_H,Goals_A,Result,Odd_H,Odd_D,Odd_A,Odd_Over25,Odd_Under25
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,1.18,7.00,15.0,1.44,2.75
3,12/08/2023,Brighton,Luton,4,1,H,1.33,5.50,9.0,1.62,2.30
6,12/08/2023,Newcastle,Aston Villa,5,1,H,1.75,3.75,4.6,1.73,2.10
9,14/08/2023,Man United,Wolves,1,0,H,1.33,5.50,9.0,1.62,2.30
10,18/08/2023,Nott'm Forest,Sheffield United,2,1,H,1.95,3.40,4.0,2.20,1.67
...,...,...,...,...,...,...,...,...,...,...,...
370,19/05/2024,Arsenal,Everton,2,1,H,1.18,8.00,12.0,1.36,3.20
374,19/05/2024,Chelsea,Bournemouth,2,1,H,1.45,5.00,6.0,1.29,3.75
375,19/05/2024,Crystal Palace,Aston Villa,5,0,H,1.85,4.33,3.6,1.40,3.00
376,19/05/2024,Liverpool,Wolves,2,0,H,1.17,8.00,15.0,1.22,4.33
378,19/05/2024,Man City,West Ham,3,1,H,1.08,12.00,21.0,1.20,4.50

#### Basic Statistcs using Pandas

In [16]:
average_gols = df[['Goals_H', 'Goals_A']].mean()
print('Average Goals per Match:')
print(average_gols)

Average Goals per Match:
Goals_H    1.800000
Goals_A    1.478947
dtype: float64

#### Filtering Bets

In [18]:
future_matches = pd.read_csv('https://www.football-data.co.uk/fixtures.csv')
future_matches

columns = ['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','B365>2.5','B365<2.5']
future_matches = future_matches[columns]
future_matches.columns = ['Date','Home','Away','Odd_H','Odd_D','Odd_A','Odd_Over25','Odd_Under25']
matches_to_bet = future_matches[future_matches['Odd_H'] <= 1.50]
matches_to_bet

,Date,Home,Away,Odd_H,Odd_D,Odd_A,Odd_Over25,Odd_Under25
8,13/09/2024,Dortmund,Heidenheim,1.40,5.50,6.50,1.50,2.63
12,14/09/2024,RB Leipzig,Union Berlin,1.48,4.50,6.50,1.67,2.20
22,14/09/2024,FC Koln,Magdeburg,1.50,5.00,5.25,1.44,2.70
24,15/09/2024,Hamburg,Regensburg,1.33,5.50,8.50,1.53,2.40
27,14/09/2024,Brighton,Ipswich,1.38,5.00,7.50,1.53,2.50
30,14/09/2024,Liverpool,Nott'm Forest,1.22,6.50,12.00,1.44,2.75
31,14/09/2024,Man City,Brentford,1.18,8.00,12.00,1.36,3.20
32,14/09/2024,Aston Villa,Everton,1.50,4.20,6.50,1.67,2.20
42,14/09/2024,Middlesbrough,Preston,1.45,4.20,7.00,1.73,2.10
72,14/09/2024,Barnet,Braintree Town,1.36,4.75,8.50,1.65,2.20
75,14/09/2024,Forest Green,Wealdstone,1.45,4.33,6.50,1.73,2.08
87,14/09/2024,Paris SG,Brest,1.27,6.00,10.00,1.44,2.75
105,15/09/2024,Olympiakos,Panetolikos,1.14,8.00,17.00,1.53,2.40
108,16/09/2024,AEK,Volos NFC,1.11,10.00,16.00,1.40,2.88
111,14/09/2024,Milan,Venezia,1.30,5.75,9.00,1.53,2.50
129,14/09/2024,PSV Eindhoven,Nijmegen,1.13,9.00,19.00,1.25,4.00
130,14/09/2024,Twente,Zwolle,1.29,6.00,9.00,1.57,2.35
133,14/09/2024,AZ Alkmaar,Heerenveen,1.42,4.75,7.50,1.57,2.35
140,14/09/2024,Benfica,Santa Clara,1.25,6.00,10.00,1.65,2.20
142,15/09/2024,Porto,Farense,1.14,7.50,21.00,1.48,2.60
147,14/09/2024,Celtic,Hearts,1.17,8.00,12.00,1.33,3.40
162,14/09/2024,Clyde,Edinburgh City,1.29,5.00,9.00,1.57,2.35
175,15/09/2024,Ath Madrid,Valencia,1.33,4.50,11.00,1.92,1.98
191,14/09/2024,Galatasaray,Rizespor,1.25,7.00,9.00,1.33,3.40

### 2. Numpy

#### Numpy Arrays

In [19]:
import numpy as np

#array with winning odds for 5 matches
win_odds = np.array([2.0,1.8,2.5,2.2,1.9])

print(f"Winning odds: {win_odds}")

Winning odds: [2.  1.8 2.5 2.2 1.9]

#### Calculate Potential Profit

In [21]:
stake = 100

potential_profit = (stake * win_odds) - stake

print(f"Potential profit: {potential_profit}")

Potential profit: [100.  80. 150. 120.  90.]

#### Filter Match by Odd

In [22]:
big_odds = win_odds[win_odds > 2.0]
print(f"Big odds: {big_odds}")

Big odds: [2.5 2.2]